.container {
    margin: 50px 20%;
}

.main-title {
    text-align: center;
    color: black;
    margin: 30px 0px;
}

.upper-panel {
/*    height: 30px; */
    display: grid;
    margin: 0 20%;
    grid-template-columns: 25% 25% 25% 25%;
}

.new-game-button {
    color: black;
    font-weight: bold;
}

#score {
    color: black;
    text-align: right;
    font-weight: bold;
}

#level {
    text-align: center;
    font-weight: bold;
}

.play-area {
    margin: 20px 0 0 0;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#play-grid {
    z-order: 0;
}

#mouse-icon {
    z-order: 10;
    top: 5px;
    left: 10px;
    position: absolute;
}

#timer {
    text-align: center;
    font-weight: bold;
}

#overlay {
    z-order: 10;
    top: 80px;
    left: 80px;
    position: absolute;
}
